# Django et extensions
Django>=5.0.0
django-cors-headers>=4.3.1
djangorestframework>=3.14.0
django-filter==23.5
django-environ==0.11.2

# Base de données
psycopg2-binary>=2.9.9

# Authentification et sécurité
django-allauth==0.61.0
django-rest-auth==0.9.5
djangorestframework-simplejwt==5.3.1

# Gestion des tâches
celery==5.3.6
redis==5.0.1

# Outils de développement
black==24.1.1
flake8==7.0.0
pytest==8.0.0
pytest-django==4.8.0
python-dotenv>=1.0.0

# Utilitaires
Pillow==10.2.0  # Pour la gestion des images
qrcode==7.4.2   # Pour la génération des QR codes
python-dateutil==2.8.2

# Autres dépendances
whitenoise>=6.6.0
gunicorn>=21.2.0

# Documentation API
drf-yasg==1.21.7